{% extends 'base.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
  <link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
  <style type="text/css">
    .wizard > .content > .body {
    position: relative !important;
    }
    .wizard > .content {
    background: #fff;
    }
    /*.form-control {
    margin: 10px !important;
    }*/
    .txt-bottom {
    margin: 10px;
    padding: 10px;
    border: 1px solid;
    width: 100%;
    }

    /*.width-auto {
      width: auto !important;
    }*/
  </style>
{% endblock  %}
{% block scripts %}
{{ parent() }}
  <script src="{{ asset('bundles/comptabilite/js/cheque-entree-add.js') }}"></script> 
{% endblock %}
{% block contenu %}
<input type="hidden" id="id" value="">
<input type="hidden" id="type" value="1">
<input type="hidden" id="statut" value="0">
<div class="wrapper wrapper-content ">
  <div class="row">
    <div class="col-lg-12">
    	<div class="ibox float-e-margins">
    		<div class="ibox-title">
    			<h5>Chèque entrant</h5>
    		</div>
    		<div class="ibox-content">
    			<div class="form-horizontal">

			<div class="row">
          		<div class="col-lg-6" id="div-num-cheque">
                  <div class="form-group">
                      <label class="col-sm-2 control-label">N° Chèque *</label>
                      <div class="col-sm-10">
                          <input type="text" class="form-control" name="" id="cheque">
                      </div>
                  </div>

              </div>

              <div class="col-lg-6">
                <div class="form-group">
                      <label class="col-sm-2 control-label">Banque</label>
                      <div class="col-sm-10">
                        <select class="form-control" id="banque">
                          <option></option>
                          {% for banque in banques %}
                            <option value="{{ banque.id }}">{{ banque.nom }}</option>
                          {% endfor %}
                        </select>
                      </div>
                  </div>
              </div>
              
            </div>

            <div class="row">
            	<div class="col-lg-6">
                  <div class="form-group">
                      <label class="col-sm-2 control-label">Montant({{ agence.deviseSymbole }}) *</label>
                      <div class="col-sm-10">
                          <input type="number" class="form-control" name="" id="montant">
                      </div>
                  </div>
              </div>
              <input type="hidden" id="devise" value="{{ agence.deviseSymbole }}">
             {#  <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Devise</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="devise" name="devise">
                          <option value="KMF">KMF</option>
                          <option value="EURO">EURO</option>
                        </select>
                    </div>
                </div>
              </div> #}
            </div>

            <div class="row">
              <div class="col-lg-6" id="div-date-cheque">
                  <div class="form-group">
                      <label class="col-sm-2 control-label">Date Chèque</label>
                      <div class="col-sm-10">
                          <input type="text" class="form-control input-datepicker" name="" id="date_cheque">
                      </div>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="form-group">
                      <label class="col-sm-2 control-label">Date déclaration</label>
                      <div class="col-sm-10">
                          <input type="text" class="form-control input-datepicker" name="" id="date" value="{{ "now" | date('d/m/Y') }}">
                      </div>
                  </div>
              </div>
            </div>

            <div class="row">
              <div class="form-group">
                  <div class="col-sm-12">
                      <input type="text" class="form-control" name="" id="lettre" readonly="">
                  </div>
              </div>
            </div>

            <div class="row">
							<label class="col-sm-1 control-label">Description</label>
				    	<div class="col-lg-12">
				    		<div id="raison" class="summernote"></div>
				    	</div>
				    </div>

				    

    				<div class="hr-line-dashed"></div>
    				<div class="row pull-rigth">
					      <div class="col-lg-12">
				            <button class="btn btn-primary pull-right" id="btn-save">
				                <i class="fa fa-save"></i>
				                Enregistrer
				            </button>
					      </div>
					  </div>


    			</div>
    		</div>
    	</div>
    </div>
  </div>
</div>
{% endblock %}