{% extends 'base.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
  <style type="text/css">
  	/*.select2-container {
          width: 100% !important;
      }*/

      .select2-container--bootstrap4 .select2-selection--single {
          height: calc(3rem + 3.5px) !important;
      }
  </style>
{% endblock  %}
{% block scripts %}
  {{ parent() }}
  <script src="{{ asset('js/plugins/select2/select2.full.min.js') }}"></script>
  <script src="{{ asset('bundles/caisse/js/vente-add.js') }}"></script>
{% endblock %}
{% block contenu %}
<div class="wrapper wrapper-content">
{# {% if permissions.facture.create %} #}

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>
            VENTES DES PRODUITS
          </h5>
        </div>
        <div class="ibox-content">
          <form class="form-horizontal" id="form-commande">

          <div class="hidden" style="width: 500px" id="reader"></div>

            <div class="hr-line-dashed"></div>
            <table class="table table-bordered" id="table-commande-add">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">PRODUIT</th>
                  <th scope="col">CODE BAR PRODUIT</th>
                  <th scope="col">QTE</th>
                  <th scope="col">PRIX UNITAIRE ({{ agence.deviseSymbole }})</th>
                  <th scope="col">MONTANT TOTAL ({{ agence.deviseSymbole }})</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr data-id="0">
                  <td>
                    <div class="form-group">
                      <div class="col-sm-12">
                      	<select class="form-control select2 cl_produit" name="produit[]">
                      		<option></option>
                      		{% for produit in produits %}
                            {% if produit.stock > 0 %}
                        			<option
                        				value="{{ produit.id }}"
                                data-stock="{{ produit.stock }}"
                                data-code="{{ produit.code_produit }}"
                        			>
                                {{ produit.code_produit }} | {{ produit.code_produit }} {{ produit.indice ? '/'~produit.indice : ''}}
                                | {{ produit.nom }} | stock : {{ produit.stock  }}
                              </option>
                            {% endif %}
                      		{% endfor %}
                      	</select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="text-center">
                      <div class="col-sm-12 cl-code">
                        
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <div class="col-sm-12">
                        <input type="number" class="form-control cl_qte" name="qte[]" required="">
                        <input type="hidden" class="cl_variation" name="variation[]">
                      </div>
                    </div>
                  </td>
                  <td class="td-montant">
                    <div class="form-group">
                      <div class="col-sm-12">
                      <select name="prix[]" class="cl_prix form-control" id="cl_prix">
                        <option value=""></option>
                      </select>
                      </div>
                    </div>
                  </td>
                  <td class="td-montant">
                    <div class="form-group">
                      <div class="col-sm-12">
                        <input type="number" class="form-control cl_total" name="total[]" readonly="">
                      </div>
                    </div>
                  </td>
                  
                  <td>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th colspan="4">Total</th>
                  <th>
                    <div class="form-group">
                      <div class="col-sm-12">
                        <input type="number" class="form-control" name="montant_total" id="montant_total" readonly="" value="0">
                      </div>
                    </div>
                    
                  </th>
                  <th>
                    <span class="btn-remove-row" data-id="0"><i class="fa fa-trash"></i></span>&nbsp;
                    <span class="btn-add-row" data-id="0"><i class="fa fa-plus"></i></span>
                  </th>
                </tr>
              </tfoot>
            </table>
            {# <div class="hr-line-dashed"></div> #}
            {# <p>Arrêté la présente facture à la somme de <b id="somme" style="text-transform: uppercase;"></b>  #}
            <p>
            <div class="row">
              <div class="col-lg-6 col-lg-push-6">
                <div class="form-group" id="data_1">
                  <label class="font-noraml">Moroni le</label>
                  <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input type="text" class="form-control" name="date" value="{{ "now" | date('d/m/Y') }}" required="">
                  </div>
                </div>
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- <div class=""> -->
                        {# <button class="btn btn-white" type="reset">
                            <i class="fa fa-times"></i>
                            Annuler
                        </button> #}
                        <button class="btn btn-primary pull-right" id="btn-save">
                            <i class="fa fa-save"></i>
                            Enregistrer
                        </button>
                    <!-- </div> -->
                </div>
            </div>
            <input type="hidden" name="" id="id-row" value="0">
            <input type="hidden" name="somme" id="id-somme" value="0">
          </form>
        </div>
      </div>
    </div>
  </div>
{#   {% else %}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <h1 style="text-align: center;"> 
                        <i class="fa fa-lock"></i>
                        ACTION NON PERMIS
                    </h1>
                </div>
            </div>
        </div>
    </div>
{% endif %} #}
</div>
{% endblock %}
