<style type="text/css">
    table.content-details {
        width: 100%
        border-collapse: collapse;
    }

    .content-details th {
        border: solid 1px #000000; 
        padding: 5px;
    }

    .text-center {
        text-align: center;
    }

    .content-details td {
        border: solid 1px #c0c0c0;
        padding: 5px; 
    }

    .text-right {
        text-align: right;
    }

    table {
        font-size: 11pt;

    }

    td p {
        width: 20%;
    }

    h1,h2,h3,h4,p {
    	word-wrap: break-word;
    }

    table {
    	border-collapse: collapse;
    }

    .f10{
    	font-size: 10pt;
    }

    .f14{
    	font-size: 14pt;
    }

    .f20{
    	font-size: 20pt;
    }

    .no-margin{
    	margin: 0;
    }

    .no-padding{
		padding: 0;
    }

    .b {
    	font-weight: bold;
    }

    h2{
    	font-size: 15pt;
    }

    p{
    	margin: 0;
    	padding: 0;
    }

    .bordered{
    	border: 1px solid #000;
    }

    h3 {
    	font-size: 12pt;
    }

    .th, .tf {
    	font-weight: bold;
    	text-transform: uppercase;
    }

    .th{
    	text-align: center;
    }

    td {
    	/*padding: 0 5px;*/
    }

</style>

<page backtop="" backbottom="" backleft="5mm" backright="5mm"> 
    {% include('PdfBundle:Default:entete.html.twig') %}

    <table style="width:100%">
	    <tr>
	        <td class="text-center" style="width:100%">
	        	{% set type = '' %}
	        	{% if facture.type == 1 %}
	        	    {% set type = 'DEVIS' %}
	        	{% else %}
	        	    {% set type = 'FACTURE' %}
	        	{% endif %}

	            <h3>
	                <u>{{type}} - N° {{facture.formattedNum}}</u>
	            </h3>
	        </td>
	    </tr>
	    
	</table>

	<table style="width:100%; margin-top: 20px">
		<tr>
			<td style="width:50%"><b></b></td>
			<td style="width:10%"><b>DOIT</b></td>
			<td style="width:40%; text-transform: uppercase;" class="dashed typo">
			</td>
		</tr>
		<tr>
			<td style="width:50%"><b></b></td>
			<td style="width:10%"><b>Client</b></td>
			<td style="width:40%; text-transform: uppercase;" class="dashed typo">
				
	            {% if facture.client.statut == 1 %}
                    : {{facture.client.idClientMorale.nomSociete}}
                {% else %}
                    : {{facture.client.idClientPhysique.nom}}
                {% endif %}
			</td>
		</tr>
		<tr>
			<td style="width:50%"><b></b></td>
			<td style="width:10%"><b>Adresse</b></td>
			<td style="width:40%; text-transform: uppercase;" class="dashed typo">
				
	            {% if facture.client.statut == 1 %}
                    : {{facture.client.idClientMorale.adresse}}
                {% else %}
                    : {{facture.client.idClientPhysique.adresse}}
                {% endif %}
			</td>
		</tr>
		<tr>
			<td style="width:50%"><b></b></td>
			<td style="width:10%"><b>Tel</b></td>
			<td style="width:40%; text-transform: uppercase;" class="dashed typo">
				
	            {% if facture.client.statut == 1 %}
                    : {{facture.client.idClientMorale.telFixe}}
                {% else %}
                    : {{facture.client.idClientPhysique.tel}}
                {% endif %}
			</td>
		</tr>
	    
	</table>

	<table style="width: 100%">
	    <tr>
	        <td style="width: 100%">
	            {{ facture.descr | raw }}
	        </td>
	    </tr>
	</table>

	<table style="width: 100%; border: solid 1px #000;margin-top:25px">
	    <tr>
	        <td class="th" style="width: 55%; border: solid 1px #000000;">DESIGNATION</td>
	        <td class="th" style="width: 15%; border: solid 1px #000000;">DUREE / QTE</td>
	        <td class="th" style="width: 15%; border: solid 1px #000000;">PRIX</td>
	        <td class="th" style="width: 15%; border: solid 1px #000000;">MONTANT TOTAL</td>
	    </tr>

		{% for detail in details %}
	        <tr>
		        <td class="" style="width: 55%; border: solid 1px #000000;">
		        	{% if detail.libre == 1%}
		        		<p style="width:350px">
		        			{{detail.designation | raw }}
		        		</p>
		        	{% else %}
		        		{{ detail.service.nom }}
		        	{% endif %}
		        </td>
		        <td class="text-center" style="width: 15%; border: solid 1px #000000;">
		        	{{detail.periode | to_float}}
		        	
		        	{% if detail.duree == 1%}
		        		/ H
		        	{% endif %}

		        	{% if detail.duree == 2%}
		        		/ J
		        	{% endif %}

		        	{% if detail.duree == 3%}
		        		/ Mois
		        	{% endif %}

		        	{% if detail.duree == 4%}
		        		/ An
		        	{% endif %}
		        </td>
		        <td class="text-right" style="width: 15%; border: solid 1px #000000;">
		        	{{detail.prix}}
		        </td>
		        <td class="text-right" style="width: 15%; border: solid 1px #000000;">
		        	{{detail.montant}}
		        </td>
	        </tr>
		{% endfor %}

	    <tr>
	        <td colspan="3" class="tf" style="width: 85%; border: solid 1px #000000;">MONTANT TOTAL</td>
	        <td class="tf text-right" style="width: 15%; border: solid 1px #000000;">{{facture.montant}}</td>
	    </tr>
	    <tr>
	        <td colspan="3" class="tf" style="width: 85%; border: solid 1px #000000;text-align: left;">
	        	REMISE
	        </td>
	        <td class="tf text-right" style="width: 15%; border: solid 1px #000000;">
	        	{{facture.remiseValeur}}

	        </td>
	    </tr>
	    <tr>
	        <td colspan="3" class="tf" style="width: 85%; border: solid 1px #000000;text-align: left;">MONTANT APRÈS DEDUCTION ({{ deviseEntrepot.symbole }})</td>
	        <td class="tf text-right" style="width: 15%; border: solid 1px #000000;">{{facture.total}}</td>
	    </tr>
	    {% if facture.devise %}
		    <tr>
		        <td colspan="3" class="tf" style="width: 85%; border: solid 1px #000000;text-align: left;">MONTANT EN {{ facture.devise.symbole }}</td>
		        <td class="tf text-right" style="width: 15%; border: solid 1px #000000;">{{facture.montantConverti}}</td>
		    </tr>
	    {% endif %}

	</table>

	<table style="width:100%; margin-top: 20px">
		<tr>
			<td style="width:100%">
				Arrêté la présente facture à la somme de <span id="somme" class="typo b" style="text-transform: uppercase;">{{facture.somme | replace ({ ('francs comorien') : deviseEntrepot.lettre }) }}</span> 
			</td>
		</tr>
	    <tr>
	        <td style="width: 100%" class="text-right dashed typo">
	        	<br>
	        	<br>
	        	<br>
	        	 {{ facture.lieu }}
	             Le {{facture.date| date('d/m/Y')}}
	        	 
	        </td>
	    </tr>
	</table>

	<table style="width:100%; margin-top: 20px">
		<tr>
			<td style="width:20%" class="text-center f10">
				LE CLIENT
			</td>
			<td style="width:60%"></td>
			<td style="width:20%" class="text-center f10">
				POUR LA SOCIETE
			</td>
		</tr>
	</table>
</page>