{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/user/css/user.css') }}">
{% endblock  %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/user/js/add.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var elem = document.querySelector('#js-switch');
            var switchery = new Switchery(elem, { color: '#1AB394' });
        });
    </script>
{% endblock %}

{% block contenu %}
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>
                            Création utilisateur {{ agence.nom }}
                        </h5>
                    </div>
                    <div class="ibox-content">
                        <form method="POST" action="{{ path('user_save') }}" class="form-horizontal" id="user-form">

                            <input type="hidden" name="typ_user" value="2">

                            <div class="row">
                                <div class="col-lg-2">
                                    <div class="row">
                                       <div class="small-12 medium-2 large-2 columns">
                                         <div class="circle">
                                           <img class="profile-pic">
                                         </div>
                                         <div class="p-image">
                                           <i class="fa fa-camera upload-button"></i>
                                            <input class="file-upload" type="file" accept="image/*"/>
                                         </div>
                                      </div>
                                    </div>
                                </div>
                                <div class="col-lg-10">
                                    
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Type de compte</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control m-b type" name="u_role" required="">
                                                        <option value=""></option>
                                                        {# <option value="ROLE_ADMIN">UTILISATEUR SHISSAB</option> #}
                                                        <option value="ROLE_RESPONSABLE">RESPONSABLE SOCIÉTÉ</option>
                                                        <option value="ROLE_AGENT">UTILISATEUR</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 type_med">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Société</label>
                                                <div class="col-sm-9">
                                                    <input type="hidden" name="u_agence" value="{{agence.id}}">
                                                    <input type="text" class="form-control" value="{{agence.nom}}" readonly="">
                                                    {# <select class="form-control u_agence" name="u_agence">
                                                        <option></option>
                                                        {% for agence in agences %}
                                                            <option value="{{agence.id}}">{{agence.nom}}</option>
                                                        {% endfor %}
                                                    </select> #}
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    {% if checkEntrepot %}
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Entrepot</label>
                                                    <div class="col-sm-9">
                                                        <select class="form-control m-b entrepot" name="entrepot">
                                                            <option value=""></option>
                                                            {% for entrepot in entrepots %}
                                                                <option value="{{ entrepot.id }}">{{ entrepot.nom }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}



                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label nom">Nom d'utilisateur</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control u_nom" name="u_nom" required="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <i class="username-confirmed fa"></i>
                                        </div>
                                        <div class="hidden">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Actif</label>
                                                <div class="col-sm-10">
                                                    <input type="checkbox" id="js-switch" checked name="u_status" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Email</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control u_email" name="u_email">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Responsabilité</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" name="u_responsable">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Mot de passe</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" name="u_pass" id="u_pass" required="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <span id="password-strength" class="badge badge-strength"></span>
                                            <br>
                                            <div class="alert alert-info">
                                                    <i class="fa fa-info-circle"></i>
                                                    Le mot de passe doit contenir au minimum 8 caractères, à savoir : <br> 
                                                    au moins une lettre minuscule, <br>
                                                    une lettre majuscule, <br>
                                                    un caractère spécial <br>
                                                    un chiffre
                                              </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>


                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <div class="col-lg-12">
                                    {# <button class="btn btn-white" type="reset">Annuler</button> #}
                                    <button class="btn btn-primary" type="submit" id="btn-save">
                                        <i class="fa fa-save"></i>
                                        Enregistrer
                                    </button>
                                </div>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
