{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/plugins/jqGrid/ui.jqgrid.css') }}">
 {% endblock  %}
{% block scripts %}
{{ parent() }}
<script src="{{ asset('js/plugins/jqGrid/jquery.jqGrid.min.js') }}"></script>
<script src="{{ asset('bundles/agence/js/list.js') }}"></script>
<script type="text/javascript">
  
  var a_rechercher = document.getElementById('a_rechercher');
  
  a_rechercher.addEventListener('keyup', makeDebounce(function(e) {
  
    var search_text = e.target.value.toLowerCase();
  
    var list = $('#list_agence');
  
      
       list.find('tr').each(function(index, _td) {
            var isFind = false;
            $(_td).find('td').each(function(index, item) {
                var item_text = $(item).html().toLowerCase();
                if (item_text.indexOf(search_text) >= 0) {
                    isFind = true;
                    $(item).closest('tr').removeClass('hidden');     
                } 
                if(!isFind) {
                    $(item).closest('tr').addClass('hidden');
                }
            });            
       });
      
  
  
  },500));
  
  function makeDebounce(callback, delay){
   var timer;
   return function(){
       var args = arguments;
       var context = this;
       clearTimeout(timer);
       timer = setTimeout(function(){
           callback.apply(context, args);
       }, delay)
   }
  } 
  
</script>
</script>
{% endblock %}

{% block contenu %}
    <div class="wrapper wrapper-content">
        <div class="row">
        	<div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5 >
                            Création société
                        </h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-horizontal">

                            <h3><u>INFORMATIONS SOCIETE</u></h3>

                        	<div class="row">
                        		<div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label nom">Nom</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="nom" required="" id="nom">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label nom">Adresse</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="adresse" required="" id="adresse">
                                        </div>
                                    </div>
                                </div>
                        	</div>

                        	<div class="row">
                        		<div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label nom">Région</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="region" required="" id="region">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label nom">Tél</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="tel" required="" id="tel">
                                        </div>
                                    </div>
                                </div>
                        	</div>

                            {% if is_granted('ROLE_ADMIN') %}                                
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label nom">Nb compte</label>
                                            <div class="col-sm-10">
                                                <input type="number" class="form-control" name="capacite" required="" id="capacite">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}


                            <h3><u>COMPTE DU RESPONSABLE</u></h3>

                            {% if is_granted('ROLE_ADMIN') %}                                

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label nom">Nom d'utilisateur *</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="nom_responsable" required="" id="nom_responsable">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label nom">Email *</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="email_responsable" required="" id="email_responsable">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label nom">Mot de passe</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="mdp_responsable" required="" id="mdp_responsable">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <span id="password-strength" class="badge badge-strength"></span>
                                        <br>
                                        <div class="alert alert-info">
                                                <i class="fa fa-info-circle"></i>
                                                Le mot de passe doit contenir au minimum 8 caractères, à savoir : <br> 
                                                au moins une lettre minuscule, <br>
                                                une lettre majuscule, <br>
                                                un caractère spécial <br>
                                                un chiffre
                                          </div>
                                    </div>
                            		
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label nom">Responsabilité</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="responsabilite" required="" id="responsabilite">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            {% endif %}

                        	{# <div class="row">
                        	</div> #}



                            <div class="hr-line-dashed"></div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <!-- <div class=""> -->
                                        {# <button class="btn btn-white" type="reset">
                                            <i class="fa fa-times"></i>
                                            Annuler
                                        </button> #}
                                        <button class="btn btn-primary" id="btn-save">
                                            <i class="fa fa-save"></i>
                                            Enregistrer
                                        </button>
                                    <!-- </div> -->
                                </div>
                            </div>
                            <input type="hidden" name="id" id="id" value="0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>
                            Liste des sociétés
                        </h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row cl_list_societe hidden">
                          <div class="col-lg-4">
                            <form class="form-horizontal">
                              <div class="form-group" style="margin-bottom: 10px;">
                                <label for="recherche_par" class="control-label col-lg-3">
                                <span>Recherche par</span>
                                </label>
                                <div class="col-lg-9">
                                  <select id="recherche_par" class="form-control">
                                    <option value="0"></option>
                                    <option value="1">Nom *</option>
                                    <option value="2">Région</option>
                                  </select>
                                </div>
                              </div>
                            </form>
                          </div>
                          <div class="col-lg-4">
                            <form class="form-horizontal">
                              <div class="form-group" style="margin-bottom: 10px;">
                                <label for="a_rechercher" class="control-label col-lg-3">
                                <span>Nom</span>
                                </label>
                                <div class="col-lg-9">
                                  <input type="text" id="a_rechercher" name="" class="form-control" placeholder="Nom à Rechercher...">
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <table id="list_agence"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

