<div class="form-horizontal">
    <div class="form-group">
        <label class="col-lg-2 control-label" for="id_nom">Nom</label>
        <div class="col-lg-10">
            <input type="text" placeholder="Nom" class="form-control" id="id_nom" value="{{ agence ? agence.nom : '' }}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label" for="id_nom">Région</label>
        <div class="col-lg-10">
            <input type="text" placeholder="Région" class="form-control" id="id_region" value="{{ agence ? agence.region : '' }}">
        </div>
    </div>
    {% if is_granted('ROLE_ADMIN') %}                                 
        <div class="form-group">
            <label class="col-lg-2 control-label" for="id_nom">Nb compte</label>
            <div class="col-lg-10">
                <input type="number" placeholder="Nb compte" class="form-control" id="id_capacite" value="{{ agence ? agence.capacite : 0 }}">
            </div>
        </div>
    {% endif %}
    {# <div class="form-group">
        <label class="col-lg-2 control-label" for="id_nom">Code</label>
        <div class="col-lg-10">
            <input type="text" placeholder="Code" class="form-control" id="id_code" value="{{ agence ? agence.code : '' }}">
        </div>
    </div> #}

    <input type="hidden" value="{{agence.id}}" id="id_agence_edit">

    <div class="form-group text-right">
        <span class="btn btn-white btn-sm js_close_modal">Annuler</span>
        <span class="btn btn-primary btn-sm" id="id_save_agence">Enregistrer</span>
    </div>
</div>