<div class="form-horizontal">
    <div class="form-group">
        <div class="radio radio-info radio-inline">
            <input type="radio" id="id_radio_per" value="0" name="radio-cl_type" {{ ((client and client.type == 0) or not client) ? 'checked' : '' }}>
            <label for="id_radio_per">Personne</label>
        </div>
        <div class="radio radio-inline">
            <input type="radio" id="id_radio_soc" value="1" name="radio-cl_type" {{ (client and client.type == 1) ? 'checked' : '' }}>
            <label for="id_radio_soc">Soci&eacute;t&eacute;</label>
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label" for="id_nom">Nom</label>
        <div class="col-lg-10">
            <input type="text" placeholder="Nom" class="form-control" id="id_nom" value="{{ client ? client.nom : '' }}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label" for="id_prenom">Pr&eacute;nom</label>
        <div class="col-lg-10">
            <input type="text" placeholder="Prénom" class="form-control" id="id_prenom" value="{{ client ? client.prenom : '' }}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label" for="id_adresse">Adresse</label>
        <div class="col-lg-10">
            <input type="text" placeholder="Adresse" class="form-control" id="id_adresse" value="{{ adresse ? adresse.valeur : '' }}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label" for="id_bp">BP</label>
        <div class="col-lg-10">
            <input type="text" placeholder="BP" class="form-control" id="id_bp" value="{{ bp ? bp.valeur : '' }}">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Contacts</div>
                <div class="panel-body" style="height: 170px; overflow-y: auto;padding: 0">
                    <table class="table" id="contacts" data-id="{{ client ? client.id : -1 }}">
                        <tbody>
                        {# 0: adresse; 1: email; 2: tel; 3: mobile; 4: bp;  5: autre #}
                        {% for i in 0..10 %}
                            {% set type = -1 %}
                            {% set valeur = '' %}
                            {% set id = -1 %}

                            {% if contacts|length > i %}
                                {% set type = contacts[i].type %}
                                {% set valeur = contacts[i].valeur %}
                                {% set id = contacts[i].id %}
                            {% endif %}

                            <tr data-id="{{ id }}">
                                <td>
                                    <select class="form-control cl_type">
                                        <option value="-1" {{ type == -1 ? 'selected' : '' }}></option>
                                        <option value="1" {{ type == 1 ? 'selected' : '' }}>Email</option>
                                        <option value="2" {{ type == 2 ? 'selected' : '' }}>Tel</option>
                                        <option value="3" {{ type == 3 ? 'selected' : '' }}>Mobile</option>
                                        <option value="5" {{ type == 5 ? 'selected' : '' }}>Autre</option>
                                    </select>
                                </td>
                                <td><input type="text" class="form-control cl_valeur" value="{{ valeur }}"></td>
                                <td></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <div class="form-group text-right">
        <span class="btn btn-white btn-sm js_close_modal">Annuler</span>
        <span class="btn btn-primary btn-sm" id="id_save_client">Enregistrer</span>
    </div>
</div>