{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/plugins/jqGrid/ui.jqgrid.css') }}">
 {% endblock  %}
{% block scripts %}
{{ parent() }}
<script src="{{ asset('js/plugins/jqGrid/jquery.jqGrid.min.js') }}"></script>
<script src="{{ asset('js/plugins/select2/select2.full.min.js') }}"></script>
<script src="{{ asset('bundles/restaurant/js/menus/slider-show.js') }}"></script>
{% endblock %}

{% block contenu %}
	<input type="hidden" id="id" value="{{ slider.id }}">
    <div class="wrapper wrapper-content">
        <div class="row">
        	<div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5 >
                            Slider #{{ slider.id }}
                        </h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-horizontal">
						  <div class="form-group">
						     <label class="col-sm-1 control-label">Image</label>
						     <div class="col-sm-11">
						        <input type="file" class="form-control" id="slider">
						     </div>
						  </div>
						  <div class="form-group">
						     <div class="col-lg-12" style="justify-content: center;align-items: center;display: flex;">
						        <img src="{{ slider.img ? slider.img : asset('img/picture.png') }}" id="slider_img" class="img-thumbnail">
						     </div>
						  </div>
						  <div class="form-group">
						     <label class="col-sm-1 control-label">Titre</label>
						     <div class="col-sm-11">
						        <input type="text" class="form-control" value="{{ slider.titre }}" id="titre">
						     </div>
						  </div>
						  <div class="form-group">
						     <label class="col-sm-1 control-label">Sous titre</label>
						     <div class="col-sm-11">
						        <input type="text" class="form-control" value="{{ slider.sousTitre }}" id="sous_titre">
						     </div>
						  </div>
						</div>

						<div class="row">
							<div class="col-lg-12">
								<button class="btn btn-primary pull-right" id="btn-save-slider">
									<i class="fa fa-save"></i>
									METTRE À JOUR
								</button>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-12">
						        <table id="list_slider"></table>
							</div>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

