{% extends 'base.html.twig' %}
{% block stylesheets %}
   {{ parent() }}
   <link rel="stylesheet" href="{{ asset('css/plugins/jqGrid/ui.jqgrid.css') }}">

{% endblock  %}
{% block scripts %}
   {{ parent() }}
   <script src="{{ asset('js/plugins/jqGrid/jquery.jqGrid.min.js') }}"></script>
   <script src="{{ asset('bundles/siteweb/js/formulaire.js') }}"></script>
{% endblock %}
{% block contenu %}
<input type="hidden" id="id_siteweb" value="{{ siteweb.id }}">
<div class="wrapper wrapper-content">
   <div class="row">
      <div class="col-lg-2">
         <div class="ibox float-e-margins">
            <div class="ibox-content mailbox-content">
               <div class="file-manager">
                  <a class="btn btn-block btn-primary compose-mail" href="{{ siteweb.lien }}" target="_blank">
                  {{ siteweb.nom }} <i class="fa fa-external-link"></i>
                  </a>
                  <div class="space-25"></div>
                  {{ render(controller('SitewebBundle:Default:menu', { id: siteweb.id } )) }}
                  <div class="clearfix"></div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-lg-10 animated fadeInRight">
         <div class="mail-box-header">
            <h2>
            	Formulaires
            </h2>
         </div>
         <div class="mail-box">
         	<div class="mail-body">
         		<div class="tabs-container">
                    <ul class="nav nav-tabs">
                      <li class="active">
                        <a data-toggle="tab" href="#tab-1">CRÉATION</a>
                      </li>
                      <li>
                        <a data-toggle="tab" href="#tab-2">LISTE</a>
                      </li>
                    </ul>
                </div>

                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                        	<div class="form-horizontal">

                        		<div class="row">
                        			<div class="col-lg-6">
			                        	{# <h3><u>INFORMATIONS</u></h3> #}
		                        		<div class="row">
			                        		<div class="col-lg-12">
			                                    <div class="form-group">
			                                        <label class="col-sm-2 control-label">Nom</label>
			                                        <div class="col-sm-10">
			                                            <input type="text" class="form-control" required="" id="nom">
			                                        </div>
			                                    </div>
			                                </div>
			                        	</div>
			                        	<div class="row">
			                        		<div class="col-lg-12">
			                                    <div class="form-group">
			                                        <label class="col-sm-2 control-label">Description</label>
			                                        <div class="col-sm-10">
			                                        	<textarea class="form-control summernote" id="description"></textarea>
			                                        </div>
			                                    </div>
			                                </div>
			                        	</div>
                        				
                        			</div>
                        			<div class="col-lg-6">
			                        	{# <h3><u>CHAMPS PERSONNALISÉS</u></h3> #}
			                        	<div class="fields-container">
			                        		<div class="row">
				                        		<div class="col-lg-12">
				                                    <div class="form-group">
			                                        	<label class="col-sm-2 control-label"></label>
				                                        <div class="col-sm-10">
				                                        	<button class="btn btn-info btn-add-field" style="width:100%">
				                                        		<i class="fa fa-plus"></i>
				                                        		AJOUTER DES CHAMPS
				                                        	</button>
				                                        </div>
				                                    </div>
				                                </div>
				                        	</div>
			                        	</div>
                        			</div>
                        		</div>

	                        	<div class="hr-line-dashed"></div>
	                            <div class="row">
	                                <div class="col-lg-12">
	                                    <!-- <div class=""> -->
	                                        {# <button class="btn btn-white" type="reset">
	                                            <i class="fa fa-times"></i>
	                                            Annuler
	                                        </button> #}
	                                        <button class="btn btn-primary pull-right" id="btn-save">
	                                            <i class="fa fa-save"></i>
	                                            Enregistrer
	                                        </button>
	                                    <!-- </div> -->
	                                </div>
	                            </div>

                        	</div>
                        </div>
                    </div>

                    <div id="tab-2" class="tab-pane">
                        <div class="panel-body">
                        	<div class="row">
                        		<div class="col-lg-12">
                        			<table class="table table-bordered">
                        				<thead>
                        					<tr>
                        						<th>Nom</th>
                        						<th>Description</th>
                        						<th></th>
                        					</tr>
                        				</thead>
                        				<tbody>
                        					{% for formulaire in formulaires %}
                        						<tr>
                        							<td>{{ formulaire.nom }}</td>
                        							<td>{{ formulaire.description | raw }}</td>
                        							<td>
                        								<a href="{{ path('siteweb_formulaire_show', { id : formulaire.id }) }}" class="btn btn-info" style="width:100%">
                        									<i class="fa fa-edit"></i>
                        								</a>
                        							</td>
                        						</tr>
                        					{% endfor %}
                        				</tbody>
                        			</table>
                        		</div>
                        	</div>
                        </div>
                    </div>
                </div>

         	</div>
        </div>
       </div>
  </div>
</div>
{% endblock %}