{% extends 'base.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
  <style type="text/css">
  	.select2-container {
          width: 100% !important;
      }

      .select2-container--bootstrap4 .select2-selection--single {
          height: calc(3rem + 3.5px) !important;
      }
  </style>
{% endblock  %}
{% block scripts %}
{{ parent() }}
  <script src="{{ asset('js/plugins/select2/select2.full.min.js') }}"></script>
  <script src="{{ asset('bundles/stockinterne/js/entree-sortie-add.js') }}"></script>
{% endblock %}
{% block contenu %}
<div class="wrapper wrapper-content">
{# {% if permissions.facture.create %} #}

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>
            APPROVISIONNEMENT - STOCK INTERNE
          </h5>
        </div>
        <div class="ibox-content">
          <form class="form-horizontal" id="form-entree-sortie">

            <div class="hr-line-dashed"></div>
            <table class="table table-bordered" id="table-entree-sortie-add">
              <thead class="thead-dark">
                <tr>
                  <th class="col-sm-2">DÉSIGNATION</th>
                  <th class="col-sm-3">QTE</th>
                  <th class="col-sm-3">PRODUIT EN STOCK</th>
                  <th class="col-sm-2">PRIX ACHAT ({{ agence.deviseSymbole }})</th>
                  <th class="col-sm-2">MONTANT TOTAL ({{ agence.deviseSymbole }})</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr data-id="0">
                  <td>
                    <div class="form-group">
                      <div class="col-sm-12">
                      	<select class="form-control select2 stock_interne" name="stock_interne[]">
                      		<option></option>
                      		{% for stockInterne in stockInternes %}
                      			<option 
                              value="{{ stockInterne.id }}"
                              data-libelle="{{ stockInterne.libelle ? stockInterne.libelle.nom : '' }}"
                              data-unite="{{ stockInterne.unite }}"
                            > {{ stockInterne.nom }} </option>
                      		{% endfor %}
                      	</select>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <div class="col-sm-8">
                        <input type="number" class="form-control qte" name="qte[]" required="">
                      </div>
                      <div class="col-sm-4">
                        <input type="text" class="form-control unite" readonly="">
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <div class="col-sm-8">
                        <input type="number" class="form-control portion" name="portion[]" required="">
                      </div>
                      <div class="col-sm-4">
                        <input type="text" class="form-control libelle" readonly="">
                      </div>
                    </div>
                  </td>
                  <td class="td-montant">
                    <div class="form-group">
                      <div class="col-sm-12">
                        <input type="number" class="form-control prix" name="prix[]" required="">
                      </div>
                    </div>
                  </td>
                  <td class="td-montant">
                    <div class="form-group">
                      <div class="col-sm-12">
                        <input type="number" class="form-control total" name="total[]" readonly="">
                      </div>
                    </div>
                  </td>
                  
                  <td>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th colspan="4">Total</th>
                  <th>
                    <div class="form-group">
                      <div class="col-sm-12">
                        <input type="number" class="form-control" name="montant_total" id="montant_total" readonly="" value="0">
                      </div>
                    </div>
                    
                  </th>
                  <th>
                    <span class="btn-remove-row" data-id="0"><i class="fa fa-trash"></i></span>&nbsp;
                    <span class="btn-add-row" data-id="0"><i class="fa fa-plus"></i></span>
                  </th>
                </tr>
              </tfoot>
            </table>
            {# <div class="hr-line-dashed"></div> #}
            {# <p>Arrêté la présente facture à la somme de <b id="somme" style="text-transform: uppercase;"></b>  #}
            <p>
            <div class="row">
              <div class="col-lg-6 col-lg-push-6">
                <div class="form-group" id="data_1">
                  <label class="font-noraml">Moroni le</label>
                  <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input type="text" class="form-control" name="date" value="{{ "now" | date('d/m/Y') }}" required="">
                  </div>
                </div>
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- <div class=""> -->
                        {# <button class="btn btn-white" type="reset">
                            <i class="fa fa-times"></i>
                            Annuler
                        </button> #}
                        <button class="btn btn-primary pull-right" id="btn-save">
                            <i class="fa fa-save"></i>
                            Enregistrer
                        </button>
                    <!-- </div> -->
                </div>
            </div>
            <input type="hidden" name="" id="id-entree-sortie" value="0">
            <input type="hidden" name="" id="id-row" value="0">
            <input type="hidden" name="somme" id="id-somme" value="0">
          </form>
        </div>
      </div>
    </div>
  </div>
{#   {% else %}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <h1 style="text-align: center;"> 
                        <i class="fa fa-lock"></i>
                        ACTION NON PERMIS
                    </h1>
                </div>
            </div>
        </div>
    </div>
{% endif %} #}
</div>
{% endblock %}
