{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/plugins/jqGrid/ui.jqgrid.css') }}">
 {% endblock  %}

 {% block scripts %}
    {{ parent() }}
    <script src="{{ asset('js/plugins/jqGrid/jquery.jqGrid.min.js') }}"></script>
    <script src="{{ asset('js/plugins/select2/select2.full.min.js') }}"></script>
    <script src="{{ asset('bundles/comptabilite/js/add-mouvement.js') }}"></script>
{% endblock %}

{% block contenu %}
    <div class="wrapper wrapper-content">
        <div class="row">
        	<div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>
                            Enregistrement opération
                        </h5>
                    </div>
                    <div class="ibox-content">
                        <form class="form-horizontal" id="form-mouvement">

                        	<div class="row">
                        		<div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Date</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="date" required="">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Opération *</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" id="operation">
                                            	<option value=""></option>
                                            	<option value="1">Dépôt</option>
                                            	<option value="2">Retrait</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                        	</div>

                        	<div class="row">
                        		<div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">N° opération</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="num_operation" required="">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Type d'opération *</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" id="type_operation">
                                            	<option value=""></option>
                                            	<option value="1">CASH</option>
                                            	<option value="2">Chèque</option>
                                            	<option value="3">Virement</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                        	</div>

                        	<div class="row">
                        		<div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label ">Banque *</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" id="banque">
                                            	<option value=""></option>
                                            	{% for banque in banques %}
                                            	    <option value="{{banque.id}}">{{banque.nom}}</option>
                                            	{% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label ">Compte bancaire *</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" id="compte_bancaire"></select>
                                        </div>
                                    </div>
                                </div>

                        	</div>

                        	<div class="row">
                        		<div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Montant de l'opération ({{ agence.deviseSymbole }}) *</label>
                                        <div class="col-sm-10">
                                            <input type="number" class="form-control" id="montant" required="">
                                        </div>
                                    </div>
                                </div>
                        	</div>

                            <h3 class="client_morale"><u>Personne concerné à l'opération</u></h3>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Nom et prénom</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="op_nom" required="">
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="hr-line-dashed"></div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <!-- <div class=""> -->
                                        <!-- <button class="btn btn-white" type="reset">
                                            <i class="fa fa-times"></i>
                                            Annuler
                                        </button> -->
                                        <button class="btn btn-primary" id="btn-save">
                                            <i class="fa fa-save"></i>
                                            Enregistrer
                                        </button>
                                    <!-- </div> -->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

