{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
 {% endblock  %}

 {% block scripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/client/js/show-type-sociale.js') }}"></script>
{% endblock %}

{% block contenu %}
    <div class="wrapper wrapper-content">
        <div class="row">
        	<div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h1>
                            <i class="fa fa-home"></i>
                            TYPE DE SOCIALE {{ type.designation }}
                        </h1>
                    </div>
                    <div class="ibox-content">
                        <form method="POST" action="{{ path('typesociete_save') }}" class="form-horizontal">

                        	<div class="row">
                        		<div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label nom">Désignation</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="designation" required="" value="{{type.designation}}">
                                        </div>
                                    </div>
                                </div>
                        	</div>

                            <div class="row">
                        		<div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label nom">Déscription</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="designation" required="" value="{{type.desc}}">
                                        </div>
                                    </div>
                                </div>
                        	</div>



                            <div class="hr-line-dashed"></div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <!-- <div class=""> -->
                                        <button class="btn btn-white" type="reset">
                                            <i class="fa fa-times"></i>
                                            Annuler
                                        </button>
                                        <button class="btn btn-primary" type="submit">
                                            <i class="fa fa-save"></i>
                                            Enregistrer
                                        </button>
                                    <!-- </div> -->
                                </div>
                            </div>
                            <input type="hidden" name="id" id="id" value="{{type.id}}">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

