{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/plugins/jqGrid/ui.jqgrid.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/client/css/bootstrap-tagsinput.css') }}">
 {% endblock  %}

 {% block scripts %}
    {{ parent() }}
    <script src="{{ asset('js/plugins/jqGrid/jquery.jqGrid.min.js') }}"></script>
    <script src="{{ asset('bundles/client/js/bootstrap-tagsinput.js') }}"></script>
    <script src="{{ asset('bundles/hebergement/js/categorie/show.js') }}"></script>
{% endblock %}

{% block contenu %}
	<input type="hidden" id="id" value="{{ categorie.id }}">
    <div class="wrapper wrapper-content">
        <div class="row">
        	<div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>
                            {{ categorie.nom }}
                        </h5>
                    </div>
                    <div class="ibox-content">
                        <form class="form-horizontal">

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label type">Type</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" id="type">
                                                <option></option>
                                                {% for type in types %}
                                                    <option 
                                                    	value="{{ type.id }}"
                                                    	{% if categorie.typeChambre.id == type.id %}
                                                    		selected=""
                                                    	{% endif %} 
                                                    >{{ type.nom }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label nom">Nom</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="nom" required="" value="{{ categorie.nom }}">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label description">Description</label>
                                        <div class="col-sm-9">
                                            <textarea class="summernote" id="description">
                                            	{{ categorie.description | raw }}
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label caracteristique">Caractéristiques</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="caracteristiques" required="" data-role="tagsinput" value="{{ categorie.caracteristiques }}">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <table class="table table-bordered" id="table-tarif-add">
                                        <thead>
                                            <tr>
                                                <th>Nb Pers</th>
                                                <th>Tarif ({{ agence.deviseSymbole }})</th>
                                                <th>Petit déjeuner</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        	{% for tarif in tarifs %}
	                                            <tr>
	                                                <td>
	                                                    <div class="form-group">
	                                                      <div class="col-sm-12">
	                                                        <input type="number" class="form-control nb_pers" name="nb_pers[]" required="" value="{{ tarif.nbPers }}">
	                                                      </div>
	                                                    </div>
	                                                </td>
	                                                <td>
	                                                    <div class="form-group">
	                                                      <div class="col-sm-12">
	                                                        <input type="number" class="form-control montant" name="montant[]" required="" value="{{ tarif.montant }}">
	                                                      </div>
	                                                    </div>
	                                                </td>
	                                                <td>
	                                                    <div class="form-group">
	                                                      <div class="col-sm-12">
	                                                        <select class="form-control petit_dejeuner" name="petit_dejeuner[]">
	                                                            <option value="1" {% if tarif.petitDejeuner == 1 %} selected="" {% endif %} >INCLUS</option>
	                                                            <option value="2" {% if tarif.petitDejeuner == 2 %} selected="" {% endif %} >SUPPLÉMENTAIRE</option>
	                                                        </select>
	                                                      </div>
	                                                    </div>
	                                                    <div class="form-group supplementaire {% if tarif.petitDejeuner == 1 %} hidden {% endif %}">
	                                                      <div class="col-sm-12">
	                                                        <input type="number" class="form-control montant_petit_dejeuner" name="montant_petit_dejeuner[]" required="" value="{{ tarif.montantPetitDejeuner }}">
	                                                      </div>
	                                                    </div>
	                                                </td>
	                                                <td>
	                                                    <button class="btn btn-danger btn-full-width btn-remove-tr">
	                                                        <i class="fa fa-trash"></i>
	                                                    </button>
	                                                </td>
	                                            </tr>
                                        	{% endfor %}

                                        </tbody>

                                        <tfoot>
                                            <tr>
                                                <td colspan="3"></td>
                                                <td>
                                                    <button class="btn btn-info btn-full-width btn-add-row" data-id="0">
                                                        <i class="fa fa-plus"></i>
                                                    </button>
                                                    <input type="hidden" id="id-row" value="0">
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <!-- <div class=""> -->
                                       <!--  <button class="btn btn-white" type="reset">
                                            <i class="fa fa-times"></i>
                                            Annuler
                                        </button> -->
                                        <button class="btn btn-primary" id="btn-save">
                                            <i class="fa fa-save"></i>
                                            Enregistrer
                                        </button>
                                    <!-- </div> -->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

