{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/plugins/morris/morris-0.4.3.min.css') }}" rel="stylesheet">
    <style type="text/css">
    	/*.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    		border-top: 0 !important;
    	}

    	tbody > tr > th,
    	tbody > tr > td
    	{
    		font-style: italic !important;
    		font-size: 10px !important;
    	}*/

    	.text-upper {
    		text-transform: uppercase;
    	}
    </style>
 {% endblock  %}

{% block contenu %}

	{% if checkClient %}
		{{ render(controller('ClientBundle:Dashboard:index')) }}
	{% endif %}
	
	{% if checkFacture %}
		{{ render(controller('FactureBundle:Dashboard:index')) }}
	{% endif %}
	
	{% if checkProduit %}
		{{ render(controller('ProduitBundle:Dashboard:index')) }}
	{% endif %}
	
	{% if checkCaisse %}
		{{ render(controller('CaisseBundle:Dashboard:index')) }}
	{% endif %}
	
	{% if checkBonCommande %}
		{{ render(controller('BonCommandeBundle:Dashboard:index')) }}
	{% endif %}
	
	{% if checkCredit %}
		{{ render(controller('CreditBundle:Dashboard:index')) }}
	{% endif %}
	
	{% if checkHeb %}
		{{ render(controller('HebergementBundle:Dashboard:index')) }}
	{% endif %}
	
	{% if checkResto %}
		{{ render(controller('RestaurantBundle:Dashboard:index')) }}
	{% endif %}
	
    <div class="row" id="dash-square-menu">
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    {# flot chart #}
	<script src="{{ asset('js/plugins/flot/jquery.flot.js') }}"></script>
    <script src="{{ asset('js/plugins/flot/jquery.flot.tooltip.min.js') }}"></script>
    <script src="{{ asset('js/plugins/flot/jquery.flot.resize.js') }}"></script>
    <script src="{{ asset('js/plugins/flot/jquery.flot.pie.js') }}"></script>
    <script src="{{ asset('js/plugins/flot/jquery.flot.time.js') }}"></script>

    {# morris chart #}
    <script src="{{ asset('js/plugins/morris/raphael-2.1.0.min.js') }}"></script>
    <script src="{{ asset('js/plugins/morris/morris.js') }}"></script>

    <script src="{{ asset('bundles/dashboard/js/index.js') }}"></script>
{% endblock %}