{% extends 'base.html.twig' %}
{% block stylesheets %}
   {{ parent() }}
   <link rel="stylesheet" href="{{ asset('css/plugins/jqGrid/ui.jqgrid.css') }}">

{% endblock  %}
{% block scripts %}
   {{ parent() }}
   <script src="{{ asset('js/plugins/jqGrid/jquery.jqGrid.min.js') }}"></script>
   <script src="{{ asset('bundles/siteweb/js/customer-show.js') }}"></script>
{% endblock %}
{% block contenu %}
<input type="hidden" id="id_siteweb" value="{{ siteweb.id }}">
<input type="hidden" id="id" value="{{ customer.id }}">
<div class="wrapper wrapper-content">
   <div class="row">
      <div class="col-lg-2">
         <div class="ibox float-e-margins">
            <div class="ibox-content mailbox-content">
               <div class="file-manager">
                  <a class="btn btn-block btn-primary compose-mail" href="{{ siteweb.lien }}" target="_blank">
                  {{ siteweb.nom }} <i class="fa fa-external-link"></i>
                  </a>
                  <div class="space-25"></div>
                  {{ render(controller('SitewebBundle:Default:menu', { id: siteweb.id } )) }}
                  <div class="clearfix"></div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-lg-10 animated fadeInRight">
         <div class="mail-box-header">
            <h2>
               {{ customer.nom }}
               {% if customer.desactive %}
                  <span class="badge badge-warning">Désactivé</span>
               {% else %}
                  <span class="badge badge-success">Actif</span>
               {% endif %}
            </h2>
         </div>
         <div class="mail-box">
            <div class="mail-body">
               <div class="form-horizontal">
                  <div class="form-group">
                     <label class="col-sm-2 control-label">Nom</label>
                     <div class="col-sm-10">
                        <input type="text" class="form-control" value="{{ customer.nom }}" id="nom">
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="col-sm-2 control-label">Logo</label>
                     <div class="col-sm-10">
                        <input type="file" class="form-control" id="customer_logo">
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="col-lg-12" style="justify-content: center;align-items: center;display: flex;">
                        <img src="{{ customer.img ? customer.img : asset('img/picture.png') }}" id="customer_img" class="img-thumbnail">
                     </div>
                  </div>
               </div>
            </div>
            <div class="mail-body text-right tooltip-demo">

               {% if customer.desactive %}
                  <button class="btn btn-info btn-sm" id="btn-enable-customer">
                     <i class="fa fa-check"></i> Activer
                  </button>
               {% else %}
                  <button class="btn btn-warning btn-sm" id="btn-disable-customer">
                     <i class="fa fa-times"></i> Désactiver
                  </button>
               {% endif %}

               <button class="btn btn-danger btn-sm" id="btn-delete-customer">
               <i class="fa fa-trash-o"></i> Supprimer
               </button>

               <button class="btn btn-primary btn-sm" id="btn-save-customer">
               <i class="fa fa-save"></i> Mettre à jour
               </button>
            </div>
            <div class="clearfix"></div>
         </div>
      </div>
   </div>
</div>
{% endblock %}