<style type="text/css">
    table.content-details {
        width: 100%
        border-collapse: collapse;
    }

    .content-details th {
        border: solid 1px #000000; 
        padding: 5px;
    }

    .text-center {
        text-align: center;
    }

    .content-details td {
        border: solid 1px #c0c0c0;
        padding: 5px; 
    }

    .text-right {
        text-align: right;
    }

    table {
        font-size: 12pt;
        font-family: times;
    }

    pre {
        font-family: times;
    }

    td p {
        width: 20%;
    }

    h1,h2,h3,h4,p {
    	word-wrap: break-word;
    }

    table {
    	border-collapse: collapse;
    }

    .f14{
    	font-size: 14pt;
    }

    .f20{
    	font-size: 20pt;
    }

    .no-margin{
    	margin: 0;
    }

    .no-padding{
		padding: 0;
    }

    .b {
    	font-weight: bold;
    }

    h2{
    	font-size: 15pt;
    }

    p{
    	margin: 0;
    	padding: 0;
    }

    .bordered{
    	border: 1px solid #000;
    }

    h3 {
    	font-size: 14pt;
    }

</style>

<page backtop="" backbottom="" backleft="5mm" backright="5mm"> 
    {% include('PdfBundle:Default:entete.html.twig') %}

    <table style="width:100%">
	    <tr>
	        <td class="text-center" style="width:100%">
	        	{% set type = '' %}
	        	{% if facture.type == 1 %}
	        	    {% set type = 'DEVIS' %}
	        	{% else %}
	        	    {% set type = 'FACTURE' %}
	        	{% endif %}

	            <h3>
	                <u>{{type}} - N° {{facture.formattedNum}}</u>
	            </h3>
	        </td>
	    </tr>
	    
	</table>

	<table style="width:100%; margin-top: 20px">
		<tr>
			<td style="width:50%"><b></b></td>
			<td style="width:10%"><b>DOIT</b></td>
			<td style="width:40%; text-transform: uppercase;" class="dashed typo">
			</td>
		</tr>
		<tr>
			<td style="width:50%"><b></b></td>
			<td style="width:10%"><b>Client</b></td>
			<td style="width:40%; text-transform: uppercase;" class="dashed typo">
				
	            {% if facture.client.statut == 1 %}
                    : {{facture.client.idClientMorale.nomSociete}}
                {% else %}
                    : {{facture.client.idClientPhysique.nom}}
                {% endif %}
			</td>
		</tr>
		<tr>
			<td style="width:50%"><b></b></td>
			<td style="width:10%"><b>Adresse</b></td>
			<td style="width:40%; text-transform: uppercase;" class="dashed typo">
				
	            {% if facture.client.statut == 1 %}
                    : {{facture.client.idClientMorale.adresse}}
                {% else %}
                    : {{facture.client.idClientPhysique.adresse}}
                {% endif %}
			</td>
		</tr>
		<tr>
			<td style="width:50%"><b></b></td>
			<td style="width:10%"><b>Tel</b></td>
			<td style="width:40%; text-transform: uppercase;" class="dashed typo">
				
	            {% if facture.client.statut == 1 %}
                    : {{facture.client.idClientMorale.telFixe}}
                {% else %}
                    : {{facture.client.idClientPhysique.tel}}
                {% endif %}
			</td>
		</tr>
	    
	</table>

	<table style="width: 100%">
	    <tr>
	        <td style="width: 100%">
	            {{ facture.descr | raw }}
	        </td>
	    </tr>
	</table>

	<table style="width: 100%; border: solid 1px #000;margin-top:25px">
	    <tr>
	        <td class="th" style="width: 25%; border: solid 1px #000000;">DESIGNATION</td>
	        <td class="th" style="width: 25%; border: solid 1px #000000;">QTE</td>
	        <td class="th" style="width: 25%; border: solid 1px #000000;">PRIX</td>
	        <td class="th" style="width: 25%; border: solid 1px #000000;">MONTANT TOTAL</td>
	    </tr>

		{% for detail in details %}
	        <tr>
		        <td class="" style="width: 25%; border: solid 1px #000000;">
		        	{{detail.designation}}
		        </td>
		        <td class="text-center" style="width: 25%; border: solid 1px #000000;">
		        	{{detail.qte}}
		        </td>
		        <td class="text-center" style="width: 25%; border: solid 1px #000000;">
		        	{{detail.prix}}
		        </td>
		        <td class="text-center" style="width: 25%; border: solid 1px #000000;">
		        	{{detail.montant}}
		        </td>
	        </tr>
		{% endfor %}

	    <tr>
	        <td class="tf" style="width: 25%; border: solid 1px #000000;text-align: left;">Montant</td>
	        <td class="tf" style="width: 25%; border: solid 1px #000000;"></td>
	        <td class="tf" style="width: 25%; border: solid 1px #000000;"></td>
	        <td class="tf" style="width: 25%; border: solid 1px #000000;">{{facture.montant}}</td>
	    </tr>
	    <tr>
	        <td class="tf" style="width: 25%; border: solid 1px #000000;text-align: left;">Remise(en %)</td>
	        <td class="tf" style="width: 25%; border: solid 1px #000000;"></td>
	        <td class="tf" style="width: 25%; border: solid 1px #000000;">{{facture.remisePourcentage}}</td>
	        <td class="tf" style="width: 25%; border: solid 1px #000000;">{{facture.remiseValeur}}</td>
	    </tr>
	    <tr>
	        <td class="tf" style="width: 25%; border: solid 1px #000000;text-align: left;">Total</td>
	        <td class="tf" style="width: 25%; border: solid 1px #000000;"></td>
	        <td class="tf" style="width: 25%; border: solid 1px #000000;"></td>
	        <td class="tf" style="width: 25%; border: solid 1px #000000;">{{facture.total}}</td>
	    </tr>

	</table>

	<table style="width:100%; margin-top: 50px">
		<tr>
			<td style="width:80%">
				Arrêté la présente facture à la somme de <span id="somme" class="typo" style="text-transform: uppercase;">{{facture.somme}}</span> 
			</td>
		</tr>
	    <tr>
	        <td style="width: 80%" class="text-right">
	            <br>
	            <br>
	            <br>
	            Moroni le
	            </td>
	        <td style="width: 20%" class="text-right" class="dashed typo">
	            <br>
	            <br>
	            <br>
	             {{facture.date| date('d-m-Y')}}
	        </td>
	    </tr>
	</table>

	<table style="width:100%; margin-top: 50px">
		<tr>
			<td style="width:100%" class="text-right">
				POUR LA SOCIETE
			</td>
		</tr>
	</table>
</page>