<style>
  .f_produit 
  {
		width: 100% !important;
	}
  .select2
  {
    width: 300px !important;
  }

</style>


<div class="hr-line-dashed"></div>
<table class="table table-bordered mw-1500" id="table-fact-add">
  <thead class="thead-dark">
    <tr>
      <th scope="col">TYPE DESIGNATION</th>
<th scope="col" style="width:300px ;">DESIGNATION</th>


      <th scope="col-sm-1">QTE</th>
      <th scope="col">PRIX ({{ deviseEntrepot.symbole }}) </th>
      <th scope="col">REMISE</th>
      <th scope="col">MONTANT TOTAL ({{ deviseEntrepot.symbole }}) </th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody id="principal">
    <tr data-id="0" class="fact-row row-0">
      <td>
        <div class="form-group">
          <div class="col-sm-12">
            <select class="form-control f_libre" name="f_libre[]">
              <option value="0">PRODUIT</option>
              <option value="1">AUTRE</option>
            </select>
          </div>
        </div>
      </td>
      <td>
        <div class="form-group">
          <div class="col-sm-12">
            {# <input type="text" class="form-control" name="f_designation[]" > #}
            <select class="form-control select2 f_produit" name="f_code_produit[]">
              <option></option>
              {% for variation in variations %}
                  <option value="{{ variation.id }}" data-stock="{{variation.stock | trans }}" data-code="{{ variation.code_produit }}">
                    {{ variation.code_produit }}
                    |
                    {{ variation.code_produit }}
                    {{ variation.indice ? '/' ~ variation.indice : ''}}
                    |
                    {{ variation.nom }}
                    | stock :
                    {{ variation.stock  }}
                  </option>
              {% endfor %}
            </select>
            <div class="f_designation_container hidden">
              <textarea class="f_designation" name="f_designation[]">
              </textarea>
            </div>
          </div>
        </div>
      </td>
      <td>
        <div class="form-group">
          <div class="col-sm-12">
            <input type="number" class="form-control f_qte" name="f_qte[]" >
          </div>
        </div>
      </td>
      <td>
        <div class="form-group">
          <div class="col-sm-12">
            <select name="f_prix[]" class="f_prix form-control">
              <option value=""></option>
            </select>
          </div>
        </div>
      </td>
      <td>
        <div class="form-group">
          <div class="col-sm-4">
            <select class="form-control f_remise_type_ligne" name="f_remise_type_ligne[]">
              <option value="0">%</option>
              <option value="1">Montant</option>
            </select>
          </div>
          <div class="col-sm-8">
            <input type="number" class="form-control f_remise_ligne" name="f_remise_ligne[]" >
          </div>
        </div>
      </td>
      <td class="td-montant">
        <div class="form-group">
          <div class="col-sm-12">
            <input type="number" class="form-control f_montant" name="f_montant[]" >
          </div>
        </div>
      </td>
      
      <td>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="5">MONTANT TOTAL</th>
      <th>
        <div class="form-group">
          <div class="col-sm-12">
            <input type="number" class="form-control" name="montant" id="montant" readonly="" value="0">
          </div>
        </div>
        
      </th>
      <th>
        <button class="btn btn-white btn-remove-row btn-full-width">
          <i class="fa fa-trash"></i>
        </button>
        <button class="btn btn-white btn-add-row btn-full-width">
          <i class="fa fa-plus"></i>
        </button>
      </th>
    </tr>
    <tr>
      <th colspan="5">REMISE</th>
      <th id="">
        <div class="form-group">
          <div class="col-sm-4">
            <select class="form-control" id="f_remise_type" name="f_remise_type">
              <option value="0">%</option>
              <option value="1">Montant</option>
            </select>
          </div>
          <div class="col-sm-8">
            <input type="number" class="form-control" id="f_remise" name="f_remise" >
          </div>
        </div>
        <input type="hidden" class="form-control" name="remise" id="remise" readonly="" value="0">
      </th>
      <th>
      </th>
    </tr>
    <tr>
      <th colspan="5">MONTANT APRÈS DEDUCTION</th>
      <th id="">
        <div class="form-group">
          <div class="col-sm-12">
            <input type="number" class="form-control" name="p_total" id="total" readonly="" value="0">
          </div>
        </div>
      </th>
      <th>
      </th>
    </tr>
    {% if devises | length > 0 %}
      <tr>
        <th >MONTANT EN</th>
        <th colspan="4">
          <div class="form-group">
            <div class="col-sm-4">
              <select class="form-control f_auto_devise" name="f_auto_devise">
                <option></option>
                {% for devise in devises %}
                  {% if deviseEntrepot.symbole != devise.symbole %}
                    <option 
                      value="{{devise.id}}"
                      data-montantprincipal="{{devise.montantPrincipal}}"
                      data-montantconversion="{{devise.montantConversion}}"
                    >{{devise.symbole}}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
        </th>
        <th id="">
          <div class="form-group">
            <div class="col-sm-12">
              <input type="number" class="form-control f_auto_montant_converti" name="f_auto_montant_converti" readonly="" value="">
            </div>
          </div>
        </th>
        <th>
        </th>
      </tr>
    {% endif %}
  </tfoot>
</table>
<div class="hr-line-dashed"></div>
<p>Arrêté la présente facture à la somme de <b id="somme" style="text-transform: uppercase;"></b> 
<p>