<style type="text/css">
    table.content-details {
        width: 100%
        border-collapse: collapse;
    }

    .content-details th {
        border: solid 1px #000000; 
        padding: 5px;
    }

    .text-center {
        text-align: center;
    }

    .content-details td {
        border: solid 1px #c0c0c0;
        padding: 5px; 
    }

    .text-right {
        text-align: right;
    }

    table {
        font-size: 12pt;
        font-family: times;
    }

    pre {
        font-family: times;
    }

    td p {
        width: 20%;
    }

    h1,h2,h3,h4,p {
    	word-wrap: break-word;
    }

    table {
    	border-collapse: collapse;
    }

    .f10{
    	font-size: 10pt;
    }

    .f14{
    	font-size: 14pt;
    }

    .f20{
    	font-size: 20pt;
    }

    .no-margin{
    	margin: 0;
    }

    .no-padding{
		padding: 0;
    }

    .b {
    	font-weight: bold;
    }

    h2{
    	font-size: 15pt;
    }

    p{
    	margin: 0;
    	padding: 0;
    }

    .bordered{
    	border: 1px solid #000;
    }

    h3 {
    	font-size: 14pt;
    }

    .th, .tf {
    	font-weight: bold;
    	text-transform: uppercase;
    }

    .th{
    	text-align: center;
    	background-color: #c0c0c0;
    }

</style>

<page backtop="" backbottom="" backleft="5mm" backright="5mm"> 
    {% include('PdfBundle:Default:entete.html.twig') %}

    <table style="width:100%">
	    <tr>
	        <td class="text-center" style="width:100%">

	            <h3>
	                <u>
	                	Bon de commande N° {{ bonCommande.recu }}
	                </u>
	            </h3>
	        </td>
	    </tr>
	    
	</table>

	<table style="width:100%; margin-top: 20px">
		<tr>
			<td style="width:60%"><b></b></td>
			<td style="width:10%"><b>Client</b></td>
			<td style="width:30%; text-transform: uppercase;" class="dashed typo" >
				
	            {% if bonCommande.client.statut == 1 %}
                    : {{bonCommande.client.idClientMorale.nomSociete}}
                {% else %}
                    : {{bonCommande.client.idClientPhysique.nom}}
                {% endif %}
			</td>
		</tr>
		<tr>
			<td style="width:60%"><b></b></td>
			<td style="width:10%"><b>Adresse</b></td>
			<td style="width:30%; text-transform: uppercase;" class="dashed typo" >
				
	            {% if bonCommande.client.statut == 1 %}
                    : {{bonCommande.client.idClientMorale.adresse}}
                {% else %}
                    : {{bonCommande.client.idClientPhysique.adresse}}
                {% endif %}
			</td>
		</tr>
		<tr>
			<td style="width:60%"><b></b></td>
			<td style="width:10%"><b>Tel</b></td>
			<td style="width:30%; text-transform: uppercase;" class="dashed typo" >
				
	            {% if bonCommande.client.statut == 1 %}
                    : {{bonCommande.client.idClientMorale.telFixe}}
                {% else %}
                    : {{bonCommande.client.idClientPhysique.tel}}
                {% endif %}
			</td>
		</tr>
	    
	</table>

	<table style="width: 100%; border: solid 1px #000;margin-top:25px">
	    <tr>
	        <td class="th" style="width: 30%; border: solid 1px #000000;">DESIGNATION</td>
	        <td class="th" style="width: 20%; border: solid 1px #000000;">QTE</td>
	        <td class="th" style="width: 25%; border: solid 1px #000000;">PRIX UNITAIRE ({{ deviseEntrepot.symbole }})</td>
	        <td class="th" style="width: 25%; border: solid 1px #000000;">PRIX TOTAL ({{ deviseEntrepot.symbole }})</td>
	    </tr>

		{% for pannier in panniers %}
	        <tr>
		        <td class="" style="width: 30%; border: solid 1px #000000;">
		        	{% if pannier.type == 1%}
		        		{{ pannier.variationProduit.produitEntrepot.produit.nom }}
		        	{% endif %}
		        	{% if pannier.type == 2%}
		        		{{ pannier.service.nom }}
		        	{% endif %}
		        	{% if pannier.type == 3%}
		        		{{ pannier.designationAutre | raw }}
		        	{% endif %}
		        </td>
		        <td class="text-center" style="width: 20%; border: solid 1px #000000;">

		        	{% if pannier.type == 1 or pannier.type == 3 %}
		        		{{pannier.qte | to_float}}
		        	{% else %}
		        		{{ pannier.periode | to_float }} 
		        		{% if pannier.duree == 1 %}
		        			/ H
		        		{% endif %}
		        		{% if pannier.duree == 2 %}
		        			/ J
		        		{% endif %}
		        		{% if pannier.duree == 3 %}
		        			/ Mois
		        		{% endif %}
		        		{% if pannier.duree == 4 %}
		        			/ An
		        		{% endif %}
		        	{% endif %}

		        </td>
		        <td class="text-right" style="width: 25%; border: solid 1px #000000;">
		        	{{pannier.prix}}
		        </td>
		        <td class="text-right" style="width: 25%; border: solid 1px #000000;">
		        	{{pannier.montant}}
		        </td>
	        </tr>
		{% endfor %}

	    <tr>
	        <td colspan="3" class="tf" style="width: 75%; border: solid 1px #000000;">TOTAL</td>
	        <td class="tf text-right" style="width: 25%; border: solid 1px #000000;">{{bonCommande.ht}}</td>
	    </tr>
	    <tr>
	        <td colspan="3" class="tf" style="width: 75%; border: solid 1px #000000;text-align: left;">
	        	REMISE
	        </td>
	        <td class="tf text-right" style="width: 25%; border: solid 1px #000000;">
	        	{{bonCommande.montantRemise}}

	        </td>
	    </tr>
	    <tr>
	        <td colspan="3" class="tf" style="width: 75%; border: solid 1px #000000;text-align: left;">
	        	TVA
	        </td>
	        <td class="tf text-right" style="width: 25%; border: solid 1px #000000;">
	        	{{bonCommande.montantTva}}

	        </td>
	    </tr>
	    <tr>
	        <td colspan="3" class="tf" style="width: 75%; border: solid 1px #000000;text-align: left;">TTC</td>
	        <td class="tf text-right" style="width: 25%; border: solid 1px #000000;">{{bonCommande.total}}</td>
	    </tr>

	</table>

	<table style="width:100%; margin-top: 50px">
		<tr>
			<td style="width:100%" colspan="2">
				Arrêté la présente facture à la somme de <span id="somme" class="typo b" style="text-transform: uppercase;">{{bonCommande.lettre | replace ({ ('francs comorien') : deviseEntrepot.lettre }) }}</span> 
			</td>
		</tr>
	    <tr>
	        <td style="width: 100%" class="text-right dashed typo">
	        	<br>
	        	<br>
	        	<br>
	        	{{ bonCommande.lieu }}
             	Le {{bonCommande.date| date('d/m/Y')}}
	        </td>
	    </tr>
	</table>

	<table style="width:100%; margin-top: 20px">
		<tr>
			<td style="width:20%" class="text-center f10">
				LE CLIENT
			</td>
			<td style="width:60%"></td>
			<td style="width:20%" class="text-center f10">
				POUR LA SOCIETE
			</td>
		</tr>
	</table>

	
</page>