{% extends 'base.html.twig' %}
{% block stylesheets %}
{{ parent() }}
<style type="text/css">
  .select2-container {
  width: 100% !important;
  }
  .select2-container--bootstrap4 .select2-selection--single {
  height: calc(3rem + 3.5px) !important;
  }
</style>
{% endblock  %}
{% block scripts %}
{{ parent() }}
<script src="{{ asset('js/plugins/select2/select2.full.min.js') }}"></script>
<script src="{{ asset('bundles/credit/js/add.js') }}"></script>
{% endblock %}
{% block contenu %}
<input type="hidden" id="devise_lettre" value="{{ deviseEntrepot.lettre }}">
<div class="wrapper wrapper-content">
  {# {% if permissions.facture.create %} #}
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>
            Vente à crédit
          </h5>
        </div>
        <div class="ibox-content">
          <form class="form-horizontal" id="form-commande">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group client_mac">
                  <label class="col-sm-2 control-label">CLIENT *</label>
                  <div class="col-sm-10">
                    <select class="form-control m-b select2" name="client" id="client">
                      <option value=""></option>
                      {% if is_granted('ROLE_ADMIN') %}
                      {% for client in clients %}
                      {% if client.statut == 1%}
                      <option value="{{client.numPolice}}" data-police="{{client.formattedNum}}">
                        {{client.idClientMorale.nomSociete}}
                      </option>
                      {% else %}
                      <option value="{{client.numPolice}}" data-police="{{client.formattedNum}}">
                        {{client.idClientPhysique.nom}}
                      </option>
                      {% endif %}
                      {% endfor %}
                      {% else %}
                      {% for client in clients %}
                      {% if client.agence == userAgence.agence %}
                      {% if client.statut == 1%}
                      <option value="{{client.numPolice}}" data-police="{{client.formattedNum}}">
                        {{client.idClientMorale.nomSociete}}
                      </option>
                      {% else %}
                      <option value="{{client.numPolice}}" data-police="{{client.formattedNum}}">
                        {{client.idClientPhysique.nom}}
                      </option>
                      {% endif %}
                      {% endif %}
                      {% endfor %}
                      {% endif %}
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="hr-line-dashed"></div>

            <div style="width: 100%;overflow: scroll;">
              <table class="table table-bordered mw-1500" id="table-commande-add">
                <thead class="thead-dark">
                  <tr>
                    <th>TYPE DESIGNATION</th>
                    <th class="col-sm-3">DESIGNATION</th>
                    <th>QTÉ / DURÉE & FORMAT</th>
                    <th>PRIX ({{ deviseEntrepot.symbole }})</th>
                    <th scope="col">REMISE</th>
                    <th>MONTANT TOTAL ({{ deviseEntrepot.symbole }})</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody id="principal">
                  <tr>
                    <td>
                      <div class="form-group">
                        <div class="col-sm-12">
                          <select class="form-control type_designation" name="type_designation[]">
                            <option></option>
                            <option value="1">PRODUIT</option>
                            <option value="2">SERVICE</option>
                            {# <option value="3">AUTRE</option> #}
                          </select>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="form-group">
                        <div class="col-sm-12">
                          <select class="form-control designation" name="designation[]">
                            <option></option>
                          </select>
                          <div class="designation_autre_container hidden">
                            <textarea class="designation_autre" name="designation_autre[]">
                            </textarea>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="soustable"></td>
                    <td>
                      <div class="form-group">
                        <div class="col-sm-12">
                          <input type="number" class="form-control prix" name="prix[]" >
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="form-group">
                        <div class="col-sm-4">
                          <select class="form-control remise_type_ligne" name="remise_type_ligne[]">
                            <option value="0">%</option>
                            <option value="1">Montant</option>
                          </select>
                        </div>
                        <div class="col-sm-8">
                          <input type="number" class="form-control remise_ligne" name="remise_ligne[]" >
                        </div>
                      </div>
                    </td>
                    <td class="td-montant">
                      <div class="form-group">
                        <div class="col-sm-12">
                          <input type="number" class="form-control montant" name="montant[]" >
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="5">TOTAL</th>
                    <th>
                      <div class="form-group">
                        <div class="col-sm-12">
                          <input type="number" class="form-control" name="montant_ht" id="montant_ht" readonly="" value="0">
                        </div>
                      </div>
                    </th>
                    <th>
                      <span class="btn-remove-row" data-id="0"><i class="fa fa-trash"></i></span>&nbsp;
                      <span class="btn-add-row" data-id="0"><i class="fa fa-plus"></i></span>
                    </th>
                  </tr>
                  <tr>
                    <th colspan="5">REMISE</th>
                    <th>
                      <div class="form-group">
                        <div class="col-sm-4">
                          <select class="form-control" id="remise_type" name="remise_type">
                            <option value="0">%</option>
                            <option value="1">Montant</option>
                          </select>
                        </div>
                        <div class="col-sm-8">
                          <input type="number" class="form-control" id="remise" name="remise" >
                        </div>
                      </div>
                      <input type="hidden" class="form-control" name="montant_remise" id="montant_remise" readonly="" value="0">
                    </th>
                    <th>
                    </th>
                  </tr>
                  <tr>
                    <th colspan="5">TVA</th>
                    <th>
                      <div class="form-group">
                        <div class="col-sm-4">
                          <select class="form-control" id="tva_type" name="tva_type">
                            <option value="0">%</option>
                            <option value="1">Montant</option>
                          </select>
                        </div>
                        <div class="col-sm-8">
                          <input type="number" class="form-control" id="tva" name="tva" >
                        </div>
                      </div>
                      <input type="hidden" class="form-control" name="montant_tva" id="montant_tva" readonly="" value="0">
                    </th>
                    <th>
                    </th>
                  </tr>
                  <tr>
                    <th colspan="5">TTC</th>
                    <th>
                      <div class="form-group">
                        <div class="col-sm-12">
                          <input type="number" class="form-control" name="montant_total" id="montant_total" readonly="" value="0">
                        </div>
                      </div>
                    </th>
                    <th>
                    </th>
                  </tr>
                  {% if devises | length > 0 %}
                    <tr>
                      <th >MONTANT EN</th>
                      <th colspan="4">
                        <div class="form-group">
                          <div class="col-sm-4">
                            <select class="form-control devise" name="devise">
                              <option></option>
                              {% for devise in devises %}
                                <option 
                                  value="{{devise.id}}"
                                  data-montantprincipal="{{devise.montantPrincipal}}"
                                  data-montantconversion="{{devise.montantConversion}}"
                                >{{devise.symbole}}</option>
                              {% endfor %}
                            </select>
                          </div>
                        </div>
                      </th>
                      <th id="">
                        <div class="form-group">
                          <div class="col-sm-12">
                            <input type="number" class="form-control montant_converti" name="montant_converti" readonly="" value="">
                          </div>
                        </div>
                      </th>
                      <th>
                      </th>
                    </tr>
                  {% endif %}
                </tfoot>
              </table>
              <div class="hr-line-dashed"></div>
              <p>Arrêté la présente facture à la somme de <b id="lettre" style="text-transform: uppercase;"></b>
              <p>
            </div>

            <div class="row">
              <div class="col-lg-6 col-lg-push-6">
                <div class="form-group" >
                  <label class="font-noraml">À</label>
                  <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                    <input type="text" class="form-control" name="lieu" id="lieu" value="{{ agence.region }}" required="">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-lg-push-6">
                <div class="form-group" id="data_1">
                  <label class="font-noraml">Le</label>
                  <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input type="text" class="form-control" name="date" id="date" value="{{ "now" | date('d/m/Y') }}" required="">
                  </div>
                </div>
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="row">
              <div class="col-lg-12">
                <!-- <div class=""> -->
                {# <button class="btn btn-white" type="reset">
                <i class="fa fa-times"></i>
                Annuler
                </button> #}
                <button class="btn btn-primary pull-right" id="btn-save">
                <i class="fa fa-save"></i>
                Enregistrer
                </button>
                <!-- </div> -->
              </div>
            </div>
            <input type="hidden" name="" id="id-row" value="0">
            <input type="hidden" name="somme" id="id-somme" value="0">
          </form>
        </div>
      </div>
    </div>
  </div>
  {#   {% else %}
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <h1 style="text-align: center;"> 
            <i class="fa fa-lock"></i>
            ACTION NON PERMIS
          </h1>
        </div>
      </div>
    </div>
  </div>
  {% endif %} #}
</div>
{% endblock %}