<table class="table table-bordered table-scroll" style="min-width: 1300px !important;">
	<thead>
		<tr>
			<th>DATE</th>
			<th>N° </th>
			<th>NB PLACE RESERVÉ</th>
			<th>NB PERSONNE PAR TABLE</th>
			<th>TABLES</th>
			<th>DÉSIGNATION</th>
			<th>QTE</th>
			<th>PRIX ({{ agence.deviseSymbole }})</th>
			<th>CUISSON</th>
			<th>ACCOMPAGNEMENTS</th>
			<th>TOTAL ({{ agence.deviseSymbole }})</th>
			<th>STATUT</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% set total = 0 %}
		{% for reservation in reservations %}
			{% if reservation.details %}
				{% set i = 1 %}
				{% set termines = 0 %}
				{% set nb = 0 %}
				{% for detail in reservation.details %}

					{% set nb = nb + detail.qte %}
					{% if detail.statut == 2 %}
						{% set termines = termines + detail.qte %}
					{% endif %}
					
					<tr>
						{% if i == 1 %}
							<td rowspan="{{ (reservation.details | length) + 1 }}">{{ reservation.date }}</td>
							<td rowspan="{{ (reservation.details | length) + 1 }}">
								{{ reservation.num }}
								{% if reservation.num_booking %}
									<span class="label label-info">
										<i class="fa fa-home"></i>
										{{ reservation.num_booking }}
									</span>
								{% endif %}
							</td>
							<td rowspan="{{ (reservation.details | length) + 1 }}">{{ reservation.nb_place }} pers</td>
							<td rowspan="{{ (reservation.details | length) + 1 }}">
								<ul>
									{% for table in reservation.tables %}
										<li>{{ table.nom }} : {{ table.assis }} pers</li>
									{% endfor %}
								</ul>
							</td>
						{% endif %}
						<td>
							{{ detail.tables | join(',') }}
						</td>
						<td>{{ detail.plat }}</td>
						<td>{{ detail.qte }}</td>
						<td>{{ detail.prix }}</td>
						<td class="text-center">
							{% if detail.cuisson %}
								<span class="badge badge-{{ detail.cuisson }}">{{ detail.cuisson | upper }}</span>
							{% endif %}
						</td>
						<td>
							{% if detail.accompagnements %}
								<table class="table">
									<tbody>
										{% for acc_detail in detail.accompagnements %}
											{% if acc_detail.accompagnement %}
												<tr>
													<td>
														{% for accompagnement in accompagnements %}
															{% if  acc_detail.accompagnement == accompagnement.id %}
																{{ accompagnement.nom }}
															{% endif %}
														{% endfor %}
													</td>
													<td>
														({{ acc_detail.qte_accompagnement == '0.5' ? '1/2' : acc_detail.qte_accompagnement }} )
													</td>
													<td>
														{{ acc_detail.prix_accompagnement ? acc_detail.prix_accompagnement : 'INCLUS' }}
													</td>
													
												</tr>
											{% endif %}
										{% endfor %}
									</tbody>

									<tfoot>
										{% if detail.total_accompagnement != ''  %}
											<tr>
												<th colspan="2"></th>
												<th>
													{{ detail.total_accompagnement }}
												</th>
											</tr>
										{% endif %}
									</tfoot>
								</table>
								
							{% endif %}
						</td>
						<td>{{ detail.total }}</td>
						{% if i == 1 %}
							<td rowspan="{{ (reservation.details | length) }}">
								
							</td>
							<td rowspan="{{ (reservation.details | length) + 1 }}">
								<a href="{{ path('restaurant_reservation_show', { id : reservation.id }) }}" class="btn btn-xs btn-primary btn-full-width">
									<i class="fa fa-edit">Afficher</i>
								</a>

								{% if reservation.statut == 1 %}
									<button 
											class="btn btn-xs btn-warning btn-terminer btn-full-width"
											data-id="{{ reservation.id }}" 
										>
											<i class="fa fa-check"></i>
											Passer à la caisse
									</button>
								{% endif %}


								{% if reservation.statut == 2 and caisse %}
									<button 
										class="btn btn-xs btn-info btn-payer"
										data-id="{{ reservation.id }}" 
									>
										<i class="fa fa-money"></i>
										Payer
									</button>
								{% endif %}
							</td>
						{% endif %}
					</tr>
					{% set i = i + 1 %}
				{% endfor %}

				<tr>
					<th colspan="6">TOTAL</th>
					<th>{{ reservation.total }}</th>
					<th>
						{% if reservation.statut == 1 %}

							{% if termines == nb  %}
								LIVRÉ
							{% else %}
								EN COURS
							{% endif %}

						{% endif %}
						{% if reservation.statut == 2 %}
							À PAYER
						{% endif %}
						{% if reservation.statut == 3 %}
							PAYÉ
						{% endif %}
						<br>

						<small>{{ termines }} / {{ nb }} commandes livrés</small>
						<div class="progress progress-mini">

							{% set prog = 0 %}
							
							{% if (nb > 0) %}
								{% set prog = (termines * 100) / nb %}
							{% endif %}

                            <div style="width: {{ prog }}%;" class="progress-bar"></div>
                        </div>
					</th>
				</tr>
				<tr>
					<th colspan="13" bgcolor="#ddd"></th>
				</tr>
			{% set total = total + reservation.total %}
			{% endif %}
		{% endfor %}
	</tbody>
	<tfoot>
		<tr bgcolor="#fd9597">
			<th colspan="9">TOTAL</th>
			<th>{{ total }}</th>
			<th></th>
			<th></th>
		</tr>
	</tfoot>
</table>