{% extends 'base.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
  <style type="text/css">
  	ul {
	  list-style-type: none;
	}

	li {
	  display: inline-block;
	}

	input[type="radio"][id^="modele"] {
	  display: none;
	}

	label.label-modele {
	  border: 1px solid #fff;
	  padding: 10px;
	  display: block;
	  position: relative;
	  margin: 10px;
	  cursor: pointer;
	}

	label.label-modele:before {
	  background-color: white;
	  color: white;
	  content: " ";
	  display: block;
	  border-radius: 50%;
	  border: 1px solid grey;
	  position: absolute;
	  top: -5px;
	  left: -5px;
	  width: 25px;
	  height: 25px;
	  text-align: center;
	  line-height: 28px;
	  transition-duration: 0.4s;
	  transform: scale(0);
	}

	label.label-modele img {
	  height: 150px;
	  width: 300px;
	  transition-duration: 0.2s;
	  transform-origin: 50% 50%;
	}

	:checked + label.label-modele {
	  border-color: #fd9597;
	}

	:checked + label.label-modele:before {
	  content: "✓";
	  background-color: #fd9597;
	  border-color: #fd9597;
	  transform: scale(1);
	}

	:checked + label.label-modele img {
	  transform: scale(0.9);
	  /* box-shadow: 0 0 5px #333; */
	  z-index: -1;
	}

	.up{
		text-transform: uppercase;
	}
  </style>
{% endblock  %}
{% block scripts %}
{{ parent() }}
  <script src="{{ asset('js/plugins/select2/select2.full.min.js') }}"></script>
  <script src="{{ asset('bundles/pdf/js/add.js') }}"></script>
  <script type="text/javascript">
  	$('.summernote').Editor()
  </script>
{% endblock %}
{% block contenu %}
<div class="wrapper wrapper-content">

<div class="row">
	<div class="col-lg-12">
	  <div class="ibox float-e-margins">
	    <div class="ibox-title">
	      <h5>
	        Création Modèle PDF
	      </h5>
	    </div>
	    <div class="ibox-content">

	    	<div class="row">
        		<div class="col-lg-6">
        			<div class="form-group">
                    	<label class="col-sm-2 control-label nom">Nom Modèle</label>
                        <div class="col-sm-10">
                        	<input type="text" class="form-control" name="nom" id="nom">
                        </div>
                    </div>
        		</div>
        	</div>

        	<br>
            <h3 class="up"><u>Modèle entête</u></h3>
            <input type="hidden" id="type_modele" value="1">
	    	<div class="row">
	    		<div class="col-lg-12">
			    	<ul>
					  <li>
					    <input type="radio" id="modele1" name="modele" checked="" />
					    <label class="label-modele" for="modele1"><img src="{{ asset('img/pdf/modele-1.png') }}" /></label>
					  </li>
					  <li>

					    <input type="radio" id="modele2" name="modele"/>
					    <label class="label-modele" for="modele2"><img src="{{ asset('img/pdf/modele-2.png') }}" /></label>
					  </li>
					  <li>

					    <input type="radio" id="modele3" name="modele"/>
					    <label class="label-modele" for="modele3"><img src="{{ asset('img/pdf/modele-3.png') }}" /></label>
					  </li>

					  <li>

					    <input type="radio" id="modele4" name="modele"/>
					    <label class="label-modele" for="modele4"><img src="{{ asset('img/pdf/modele-4.png') }}" /></label>
					  </li>

					  <li>

					    <input type="radio" id="modele5" name="modele"/>
					    <label class="label-modele" for="modele5"><img src="{{ asset('img/pdf/modele-5.png') }}" /></label>
					  </li>

					  <li>

					    <input type="radio" id="modele6" name="modele"/>
					    <label class="label-modele" for="modele6"><img src="{{ asset('img/pdf/modele-6.png') }}" /></label>
					  </li>

					  <li>

					    <input type="radio" id="modele7" name="modele"/>
					    <label class="label-modele" for="modele7"><img src="{{ asset('img/pdf/modele-7.png') }}" /></label>
					  </li>
					  
					</ul>
	    		</div>
	    	</div>

	    	<br>
            <h3 class="up logo"><u>Logo</u></h3>

	    	<div class="row logo-gauche form-horizontal">
        		<div class="col-lg-6">
        			<div class="form-group">
                    	<label class="col-sm-2 control-label nom">Gauche</label>
                        <div class="col-sm-10">
                        	<input type="file" class="form-control" id="logo-gauche">
                        </div>
                    </div>
        		</div>
        		<div class="col-lg-6 align-left">
			      <img src="{{asset('img/picture.png')}}" id="logo_gauche_img" class="img-thumbnail photo-avatar">
			    </div>
        	</div>

        	<div class="row logo-centre hidden form-horizontal">
        		<div class="col-lg-6">
        			<div class="form-group">
                    	<label class="col-sm-2 control-label nom">Centre</label>
                        <div class="col-sm-10">
                        	<input type="file" class="form-control" id="logo-centre">
                        </div>
                    </div>
        		</div>
        		<div class="col-lg-6 align-left">
			      <img src="{{asset('img/picture.png')}}" id="logo_centre_img" class="img-thumbnail photo-avatar">
			    </div>
        	</div>

        	<div class="row logo-droite form-horizontal">
        		<div class="col-lg-6">
        			<div class="form-group">
                    	<label class="col-sm-2 control-label nom">Droite</label>
                        <div class="col-sm-10">
                        	<input type="file" class="form-control" id="logo-droite">
                        </div>
                    </div>
        		</div>
        		<div class="col-lg-6 align-left">
			      <img src="{{asset('img/picture.png')}}" id="logo_droite_img" class="img-thumbnail photo-avatar">
			    </div>
        	</div>

        	<br>
            <h3 class="up"><u>Texte haut</u></h3>
        	<div class="row">
        		<div class="col-lg-12">
        			<div class="form-group">
                        <div class="col-sm-12">
                        	<textarea class="" id="texte_haut"></textarea>
                        </div>
                    </div>
        		</div>
        	</div>

        	<div class="hr-line-dashed"></div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- <div class=""> -->
 {#                        <button class="btn btn-white" type="reset">
                            <i class="fa fa-times"></i>
                            Annuler
                        </button> #}
                        <button class="btn btn-primary" type="submit" id="btn-save-modele">
                            <i class="fa fa-save"></i>
                            Enregistrer
                        </button>
                    <!-- </div> -->
                </div>
            </div>

        	

	    </div>
	  </div>
	</div>
</div>

</div>
{% endblock %}
