{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/plugins/jqGrid/ui.jqgrid.css') }}">
{% endblock  %}

{% block scripts %}
   {{ parent() }}
    <script src="{{ asset('js/plugins/jqGrid/jquery.jqGrid.min.js') }}"></script>
    <script src="{{ asset('bundles/pdf/js/consultation.js') }}"></script>
{% endblock %}

{% block contenu %}


    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
                        Liste des modèle pdf
                    </h5>
                    {# <div class="ibox-tools">
                        <a href="{{ path('client_add') }}" class="btn btn-primary btn-xs">
                            <i class="fa fa-plus"></i>
                            CREATION
                        </a>
                    </div> #}
                </div>
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">SOCIETE</label>
                                        <div class="col-sm-9">
                                            <select class="form-control m-b agence" id="agence">
                                                {% if is_granted('ROLE_ADMIN') %}
                                                    <option value="0">TOUS</option>
                                                    {% for agence in agences %}
                                                        {% if agence.id != 1 %}
                                                            <option value="{{agence.id}}">{{agence.nom}}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% else %}
                                                    <option value="{{userAgence.agence.id}}" selected="">{{userAgence.agence.nom}}</option>
                                                {% endif %}
                                                {# <option value="0">TOUS</option>
                                                {% for agence in agences %}
                                                    <option value="{{agence.id}}">{{agence.nom}}</option>
                                                {% endfor %} #}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">RECHERCHE PAR</label>
                                        <div class="col-sm-8">
                                            <select class="form-control m-b statut" id="recherche_par">
                                                <option value="1">NOM MODELE</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" id="a_rechercher" placeholder="Texte à rechercher ..." style="margin-bottom:10px;">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-1">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <button class="btn btn-primary" id="btn_search" style="width:100%">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="t-content" style="width:100%;overflow:auto;">
                                <table id="liste_modele"></table>
                            </div>
                        </div>
                    </div>

                    <div class="hidden">
                        <img id="modele1" src="{{ asset('img/pdf/modele-1.png') }}" />
                        <img id="modele2" src="{{ asset('img/pdf/modele-2.png') }}" />
                        <img id="modele3" src="{{ asset('img/pdf/modele-3.png') }}" />
                        <img id="modele4" src="{{ asset('img/pdf/modele-4.png') }}" />
                        <img id="modele5" src="{{ asset('img/pdf/modele-5.png') }}" />
                        <img id="modele6" src="{{ asset('img/pdf/modele-6.png') }}" />
                        <img id="modele7" src="{{ asset('img/pdf/modele-7.png') }}" />
                    </div>

                </div>
            </div>
        </div>
    </div>


{% endblock %}

